.quest-cards-container {
    width: 100%;
    box-sizing: border-box;
    min-width: 400px;
}

.quests-content {
    flex: 1;
    align-items: center;
    display: block;
    width: 100%;
    max-width: 1244px;
}

.quests-content .swiper-slide {
    max-width: 300px;
    /* padding: 0 45px; */
    /* align-items: center; */
}

.content-section-text {
    margin-left: 0;
    font-size: 36px;
    padding: 0;
    font-family: 'Pixel Operator HB 8', sans-serif;
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    max-width: 1200px;
    position: relative;
    overflow: hidden;
    padding-right: 20px;
}

.quest-card {
    width: 300px;
    height: 400px;
    background-color: #000;
    border: 2px solid #fff;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    /* text-align: center; */
    padding: 10px;
}

.quest-card img {
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    content: none !important;
    display: none;
}

.swiper-button-next {
    background-image: url('../../assets/quests/images/arrow_next.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.swiper-button-prev {
    background-image: url('../../assets/quests/images/arrow_back.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

