.blog-card-container,
.blog-card-container * {
  box-sizing: border-box;
  align-items: center;
}

.blog-card-container {
  background: #000000;
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px;
  height: 143px;
  width: 80%;
  position: relative;
  overflow: hidden;
  padding: 20px;
  top: 10px;
}

.blog-line {
  background: #25dc15;
  margin-top: -5px;
  border-style: solid;
  border-color: #008000;
  border-width: 5px 0 0 0;
  width: 91.48px;
  height: 0px;
  position: absolute;
  left: 113px;
  top: 26px;
  transform-origin: 0 0;
  transform: rotate(105.859deg) scale(1, 1);
}

.blog-card-description {
  color: #ffffff;
  text-align: left;
  font-family: "PixelOperator8-Bold", sans-serif;
  font-size: 12px;
  line-height: 108.97%;
  letter-spacing: 0.14em;
  font-weight: 700;
  position: absolute;
  left: 129px;
  top: 65px;
  width: calc(100% - 150px);
  height: 51px;
  overflow: hidden;
}

.blog-read-more {
  color: #008000;
  text-align: left;
  font-family: "PixelOperatorHb-Regular", sans-serif;
  font-size: 28px;
  line-height: 110.76%;
  letter-spacing: 0.04em;
  font-weight: 400;
  position: absolute;
  left: calc(100% - 200px);
  top: 108px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.blog-date {
  color: #008000;
  text-align: left;
  font-family: "PixelOperatorHbSc-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 30px;
  top: 23px;
  width: 58px;
  height: 49px;
}

.blog-date-month {
  color: #008000;
  text-align: left;
  font-family: "PixelOperatorHbSc-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 30px;
  top: 72px;
  width: 52px;
  height: 45px;
}

.blog-label-text {
  color: #008000;
  text-align: left;
  font-family: "PixelOperatorHb-Regular", sans-serif;
  font-size: 40px;
  letter-spacing: 0.03em;
  font-weight: 400;
  position: absolute;
  left: 129px;
  top: 17px;
  width: 571px;
  height: 31px;
}
