:root {
    --logo: url('../assets/header/images/logo_small.png');
    --logo-hover: url('../assets/header/images/logo_small_hover.png');
}

.ticker-container {
    background-color: #000000;
    width: 100%;
    height: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    user-select: none;
}

.ticker-text {
    text-overflow: clip;
    white-space: pre;
}

.header {
    background-color: #000000;
    width: 100%;
    height: 75px;
    display: flex;
    position: fixed;
    align-items: center;
    top: 20px;
    left: 0;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 10;
    border-top: solid #FFFFFF 2px;
    user-select: none;
}

.header-logo {
    background-image: var(--logo);
    background-size: contain;
    background-position: center;
    height: 40px;
    offset-anchor: left top;
    aspect-ratio: 1;
    display: flex;
}

.header-logo:hover {
    background-image: var(--logo-hover);
}

.header-menu-items-container {
    width: 400px;
    display: flex;
    margin-left: 20px;
}

.header-menu-item,
.header-menu-item-active {
    font-family: "Pixel Operator HB", sans-serif;
    font-size: 24pt;
    text-shadow:
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px 1px 0 black,
            1px 1px 0 black;
    margin: auto;
}

.header-menu-item:hover {
    color: #777777;
    cursor: var(--pointer);
    user-select: none;
}

.header-menu-item-active {
    color: #333333;
    transform: translateY(1px);
}

.header-menu-item-active:hover {
    cursor: var(--not-allowed);
}

.header-data-container {
    background-color: #000000;
    width: auto;
    height: 75px;
    flex: 1;
    display: flex;
    margin-right: 20px;
    align-items: start;
    justify-content: right;
}

.header-wallet-button {
    background-color: #FFFFFF;
    color: #000000;
    font-family: "Pixel Operator HB SC", sans-serif;
    font-size: 22pt;
    width: 230px;
    height: 50px;
    margin: 12.5px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-wallet-button:hover {
    background-color: #777777;
    cursor: var(--pointer);
}

.header-wallet-button:active {
    background-color: #333333;
    transform: translateY(1px);
}

.header-profile-container {
    background-color: #000000;
    width: 92px;
    height: 75px;
    flex-direction: column;
    overflow: clip;
    z-index: 1;
}

.header-profile-container.expanded {
    width: 300px;
    height: 240px;
    border-left: solid 2px #FFFFFF;
    border-bottom: solid 2px #FFFFFF;
}

.header-profile-info {
    display: flex;
    align-items: start;
    justify-content: right;
    margin: 12.5px 20px;
    overflow: clip;
}

.header-profile-text-container {
    height: 50px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header-profile-username {
    font-size: 16pt;
}

.header-profile-wallet-address {
    color: #777777;
    font-size: 13pt;
}

.header-profile-button {
    min-width: 52px;
    height: 50px;
    display: flex;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    background-color: white;
    z-index: 2;
    box-sizing: border-box;
    padding: 2px;
}

.header-profile-button:hover,
.header-profile-picture:hover {
    background-color: #777777;
    cursor: var(--pointer);
    .header-profile-picture {
        opacity: 50%;
    }
}

.header-profile-button:active {
    background-color: #333333;
    transform: translateY(1px);
}

.header-profile-picture-bg {
    background-color: #000000;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    top: 0;
    left: 0;
    z-index: 3;
    box-sizing: border-box;
    transform: translate(1px, 1px);
}

.header-profile-picture {
    width: 100%;
    height: 100%;
}

.header-profile-menu-buttons-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header-profile-menu-button {
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: row;
    padding-left: 25px;
    align-items: center;
    justify-content: left;
}

.header-profile-menu-button.alt {
    justify-content: center;
    padding-left: 0;
}

.header-profile-menu-button:hover {
    .header-profile-menu-button-text {
        color: #777777;
    }
    .header-profile-menu-button-icon {
        opacity: 50%;
    }
}

.header-profile-menu-button-icon {
    width: 24px;
    height: max-content;
}

.header-profile-menu-button-text {
    font-size: 14pt;
    margin-left: 20px;
}

.header-profile-menu-separator {
    background-color: #FFFFFF;
    width: 100%;
    height: 2px;
    margin: 9px 0;
}