:root {
    /* cursors */
    --default: url('../assets/images/cursors/normal.png'), default;
    --pointer: url('../assets/images/cursors/link.png'), pointer;
    --text: url('../assets/images/cursors/text.png'), text;
    --not-allowed: url('../assets/images/cursors/unavailable.png'), not-allowed;
}

body {
    font-family: "Consolas", sans-serif;
    background-color: #080808;
    color: white;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background: #FFFFFF;
}

::selection {
    background-color: #FFFFFF;
    color: black;
}

* {
    cursor: var(--default);
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: var(--pointer);
}

textarea, input, select, option {
    cursor: var(--text);
}