:root {
    --first-line-height: 280px;
    --second-line-height: 650px;

    --avatar-size: 100px;
}


.profile-progress-bar {
    width: 100%;
    position: absolute;
    left: 0;
}

.profile-progress-bar.id-card {
    height: 12px;
}

.profile-progress-bar.season-pass {
    height: 20px;
}

.profile-main-container {
    font-family: "Pixel Operator HB", sans-serif;
    font-size: 40px;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 320px 950px;
    align-content: start;
    justify-content: center;
    margin-bottom: 150px;
    padding: 20px;
    gap: 26px 38px;
    box-sizing: border-box;
}

.profile-id-card-container,
.profile-season-pass-container,
.profile-achievements-container,
.profile-completed-quests-container {
    background-color: var(--black);
    border: var(--border);
    color: var(--white);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
    box-sizing: border-box;
}

.profile-achievements-container,
.profile-completed-quests-container {
    height: var(--second-line-height);
    padding: 20px 10px;
}

.profile-inblock-header {
    justify-self: flex-start;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.profile-inblock-header.big h1 {
    font-size: 30pt;
}

.profile-inblock-header.small h1 {
    font-size: 16pt;
}

.profile-inblock-header button {
    justify-self: flex-end;
    font-family: "Pixel Operator HB", sans-serif;
    font-size: 18pt;
    height: 100%;
    padding: 0 10px;
}

.profile-id-card-user-info {
    display: flex;
    gap: 10px;
}

.profile-id-card-user-avatar {
    border: var(--border);
    width: var(--avatar-size);
    height: var(--avatar-size);
}

.profile-id-card-user-texts-counters {
    flex: 1;
    height: calc(var(--avatar-size) + (2 * var(--border-size)));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-id-card-user-texts {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
}

.profile-id-card-user-texts h1 {
    font-size: 18pt;
}

.profile-id-card-user-texts h2 {
    color: var(--50-white);
    font-size: 16pt;
}

.profile-id-card-user-counters {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.profile-id-card-user-counter {
    background-color: var(--black);
    border: var(--border);
    color: var(--white);
    font-family: "Pixel Operator", sans-serif;
    font-size: 14pt;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.profile-id-card-user-counter h1 {
    font-size: 14pt;
}

.profile-id-card-user-counter div {
    display: flex;
    gap: 5px;
}

.profile-id-card-user-counter div img {
    width: 13px;
}

.profile-id-card-user-counter div h2 {
    font-size: 17pt;
}

.profile-id-card-user-level {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.profile-id-card-user-level-number {
    height: 50px;
}

.profile-id-card-user-level-experience {
    color: var(--50-white);
    font-size: 12pt;
    line-height: 1;
    position: absolute;
    bottom: 0;
    right: 2px;
}

.profile-id-card-user-joined-date {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-id-card-user-joined-date h1 {
    color: var(--50-white);
    font-size: 18pt;
}

.profile-season-pass-block {
    flex: 1;
    width: 100%;
    display: flex;
    gap: 20px;
}

.profile-season-pass-block-left {
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.profile-season-pass-block-left-pentagon.left {
    justify-self: flex-start;
}

.profile-season-pass-block-left-pentagon.center {
    justify-self: center;
    height: 100px;
}

.profile-season-pass-block-left-pentagon.right {
    justify-self: flex-end;
}

.profile-season-pass-block-right {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}

.profile-season-pass-block-right h1 {
    font-family: "Pixel Operator SC", sans-serif;
    font-size: 30pt;
    text-align: center;
}

.profile-season-pass-block-right button {
    font-family: "Pixel Operator SC", sans-serif;
    font-weight: bold;
    font-size: 24pt;
    width: 50%;
    height: 40px;
}

.profile-container-title {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

.profile-achievements-block {
    font-family: "Pixel Operator", sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    padding: 0 10px;
    gap: 10px;
    box-sizing: border-box;
    overflow-y: scroll;
}

.profile-achievements-block-part {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-achievement-container {
    flex: 1;
    min-height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    gap: 10px;
}

.profile-achievement-container.locked {
    filter: saturate(0) brightness(75%);
}

.profile-achievement-info {
    justify-self: flex-start;
    display: flex;
    gap: 10px;
}

.profile-achievement-info img {
    width: 28px;
    object-fit: contain;
}

.profile-achievement-header-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5px;
}

.profile-achievement-header-desc h1 {
    font-size: 16pt;
}

.profile-achievement-header-desc h2 {
    color: var(--7E-white);
    font-size: 12pt;
}

.profile-achievement-container h3 {
    justify-self: flex-end;
    color: var(--50-white);
    font-size: 14pt;
    text-align: center;
}

.profile-completed-quests-block {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px 0 10px;
    gap: 20px;
    box-sizing: border-box;
    overflow-y: scroll;
}