.quests-page {
  max-width: 1800px;
  margin: 0 auto;
  padding: 95px 65px;
}

.search-bar-area {
  display: flex;
  width: 100%;
  max-width: 1520px;
  margin: 0 auto;
}

.search-bar {
  margin-top: 2rem;
  border: 2px solid #ffffff;
  max-width: 300px;
  height: 55px;
  display: flex;
}

.search-bar input {
  width: calc(100% - 55px);
  background-color: black;
  font-family: 'Pixel Operator', sans-serif;
  font-size: 2rem;
  color: white;
  border: none;
  outline: none;
}

.frame-search-bar {
  width: 55px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar img {
  width: 24px;
  height: 24px;
}

.welcome-banner {
  width: 100%;
  padding-top: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.welcome-banner-text {
  max-width: 780px;
  font-family: "Pixel Operator HB 8", sans-serif;
  font-size: 2rem;
  color: white;
}

.earn-points-and-rewards-by-contributing-to-your-favourite-web-3-community-span2 {
  color: #008000;
  padding: 0 10px;
}

.earn-points-and-rewards-by-contributing-to-your-favourite-web-3-community-span4 {
  color: #800000;
}

.welcome-banner img {
  width: 45px;
  height: 45px;
  margin: 0.5rem;
}

.welcome-banner-slider {
  background: #000000;
  border: 2px solid #ffffff;
  max-width: 600px;
  /* margin-top: 1rem; */
  overflow: hidden;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  padding: 10px;
}

.slide img {
  width: 100%;
  height: 100%;
  align-items: center;
}

.slide p {
  color: #ffffff;
  font-family: "Pixel Operator HB 8", sans-serif;
  font-size: 18px;
}

.swiper-pagination-bullet {
  background: #444;
  width: 12px;
  height: 12px;
}

.swiper-pagination-bullet-active {
  background: #fff;
}

@media (min-width: 790px) {
  .welcome-banner {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .welcome-banner-text {
    font-size: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .search-bar {
    max-width: 400px;
  }

  .welcome-banner-text {
    font-size: 3rem;
  }
}

.main-part-of-quest-page {
  margin-top: 150px;
  display: flex;
  width: 100%;
  padding: 0 72px;
}

.quests-content {
  flex: 1;
  margin-right: 1rem;
  align-items: center;
  display: block;
  max-width: 1180px;
}

.sidebar {
  position: sticky;
  top: 100px;
  padding: 1rem;
  border: 2px solid #fff;
  width: 100%;
  max-width: 340px;
  height: 600px;
  margin-top: 70px;
}

@media (max-width: 1540px) {
  .sidebar {
    margin-right: 1px;
    padding: 1rem;
  }

  .main-part-of-quest-page {
    padding: 0;
  }

  .quests-content {
    margin-right: 0;
  }
}

.sidebar-section {
  margin-bottom: 1rem;
}

.sidebar-section label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.sidebar-section select,
.sidebar-section div {
  margin-bottom: 0.5rem;
}

.sidebar-section button {
  width: 100%;
  padding: 0.5rem;
  background-color: #444;
  color: #fff;
  border: none;
  cursor: pointer;
}

.sidebar-section button:hover {
  background-color: #666;
}

.quests-content-section-text {
  margin-left: 45px;
  font-size: 36px;
  padding: 0;
  font-family: 'Pixel Operator HB 8', sans-serif;
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  max-width: 1170px;
  position: relative;
  overflow: hidden;
}

.quest-card {
  width: 300px;
  height: 400px;
  background-color: #000;
  border: 2px solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 45px;
}


.quest-card img {
  width: 100%;
  height: 210px;
  margin-bottom: 0px;
}

/* Стили для стрелок навигации Swiper */
.swiper-button-next,
.swiper-button-prev {
  background: none; /* Убираем фон */
  border: none; /* Убираем обводку */
  width: 50px; /* Установите ширину стрелки */
  height: 50px; /* Установите высоту стрелки */
}

.swiper-button-next:after,
.swiper-button-prev:after {
  content: none !important; /* Принудительно убираем стандартные иконки */
  display: none; /* Убираем элемент из рендера */
}

.swiper-button-next {
  background-image: url('../assets/images/arrow_next.png');
  background-size: contain; /* Обеспечивает полное отображение изображения */
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-button-prev {
  background-image: url('../assets/images/arrow_back.png');
  background-size: contain; /* Обеспечивает полное отображение изображения */
  background-position: center;
  background-repeat: no-repeat;
}

