.quests-page {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  padding: 65px;
}

.search-bar-area {
  display: flex;
  justify-content: left;
  width: 100%;
  max-width: 1520px;
  margin: 0 auto;
}

.search-bar {
  margin-top: 2rem;
  border: 2px solid #ffffff;
  max-width: 300px;
  height: 55px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: left;
}

.search-bar input {
  text-align: left;
  width: calc(100% - 55px);
  height: 100%;
  border: none;
  outline: none;
  box-shadow: none;
  background-color: black;
  font-family: 'Pixel Operator', sans-serif;
  font-size: 2rem;
  color: white;
}

.frame-search-bar {
  width: 55px;
  height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar img {
  width: 24px;
  height: 24px;
}

.welcome-banner {
  width: 100%;
  min-width: 700px;
  padding-top: 2.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: row; /* Выстраивает элементы в ряд */
  /* align-items: center; */
  justify-content: flex-start;
}

.welcome-banner-text {
  width: 100%;
  max-width: 780px;
  text-align: left;
  font-family: "Pixel Operator HB 8", sans-serif;
  position: relative;
  font-size: 2rem;
  justify-content: flex-start;
  color: white;
}


.earn-points-and-rewards-by-contributing-to-your-favourite-web-3-community-span2 {
  color: #008000;
  padding: 0 10px;
}

.earn-points-and-rewards-by-contributing-to-your-favourite-web-3-community-span4 {
  color: #800000;
}
.earn-points-and-rewards-by-contributing-to-your-favourite-web-3-community-span5 {
  display: block;
}

.welcome-banner a {
  margin: 0.5rem;
}

.welcome-banner img {
  width: 45px;
  height: 45px;
}

.welcome-banner-slider {
  background: #000000;
  border: 2px solid #ffffff;
  width: 100%;
  max-width: 600px;
  min-width: 343px;
  height: auto;
  margin-top: 1rem;
  overflow: hidden;
  position: relative;
}

.slide {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.slide img {
  width: 630px;
  height: 343px;
  max-width: 100%;
  padding: 10px;
}

.slide p {
  padding-top: 54px;
  color: #ffffff;
  justify-content: flex-start;
  text-align: left;
  font-family: "Pixel Operator HB 8", sans-serif;
  position: relative;
  font-size: 1,9rem;
  padding: 10px;
}

.swiper-pagination-bullet {
  background: #444;
  width: 12px;
  height: 12px;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #fff;
}


@media (min-width: 790px) {
  .welcome-banner {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .welcome-banner-text {
    font-size: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .search-bar-area {
    margin-top: 4rem;
  }

  .search-bar {
    max-width: 400px;
  }

  .welcome-banner-text {
    font-size: 3rem;
  }
}
