:root {
    /* cursors */
    --default: url('./global/assets/images/cursors/normal.png'), default;
    --pointer: url('./global/assets/images/cursors/link.png'), pointer;
    --text: url('./global/assets/images/cursors/text.png'), text;
    --not-allowed: url('./global/assets/images/cursors/unavailable.png'), not-allowed;
}

body {
    font-family: "Consolas", sans-serif;
    background-color: #000000;
    color: white;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background: #FFFFFF;
}

::selection {
    background-color: #FFFFFF;
    color: black;
}

* {
    cursor: var(--default);
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: var(--pointer);
}

textarea, input, select, option {
    cursor: var(--text);
}

.index-screen-size-warning {
    background-color: #000000;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.index-screen-size-warning-info-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.index-screen-size-warning-visualised-container {
    width: 40%;
    margin: auto;
    display: flex;
    align-items: end;
    justify-content: center;
}

.index-screen-size-warning-image1 {
    width: 150px;
}

.index-screen-size-warning-image2 {
    width: 250px;
}

.index-screen-size-warning-arrow {
    font-family: 'Pixel Operator HB 8', sans-serif;
    font-size: 60pt;
    color: #FFFFFF;
    margin: 0 30px;
    align-self: center;
    transform: translateY(30%);
}

.index-screen-size-warning-text {
    font-family: 'Pixel Operator HB', sans-serif;
    font-size: 30pt;
    color: #FFFFFF;
    flex: 1;
    margin-top: 50px;
    max-width: 75%;
}