.footer-container {
    height: 15vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
}

.footer-content {
    width: 30%;
    height: 100%;
    text-align: center;
}

.disclaimer-header {
    font-family: 'Hacked';
    font-size: 1.5vw;
    margin-bottom: 0;
    margin-top: 2%;
}

.disclaimer-rights {
    font-family: 'Pixel Operator Mono HB 8';
    font-size: 0.6vw;
}

.disclaimer-description {
    font-size: 0.75vw;
    font-family: 'Pixel Operator';
    margin-left: 5%;
    margin-right: 5%;
}