.home-page {
    margin-top: 95px;
}

.white-line {
    height: 5px;
    background-color: rgba(255, 255, 255, 0.9);;
}

.black-line {
    background-color: black;
}


.page-switcher {
    position: fixed;
    display: flex;
    width: auto;
    height: auto;
    left: calc(50% - 20px);
    bottom: 3%;
    z-index: 1;
    animation: moveUpDown 0.4s steps(2) infinite alternate;
}

.page-switcher img:active {
    transform: scale(1.10); /* Увеличение элемента при клике */
}

@keyframes moveUpDown {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}


.page-switcher img {
    cursor: pointer;
    width: 40px;
    aspect-ratio: initial;
}

.page-switcher.hidden {
    opacity: 0;
    pointer-events: none
}