.roadmap-container {
    height: calc(100vh - 95px);
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: relative;
    background-color: #080808;
}

.roadmap-card {
    width: 16%;
    height: 100%;
    border-width: 1px;
    border-color: white;
    position:relative;
}

.blured {
    filter: blur(2px)
}

.roadmap-content {
    height: 55%;
    width: 100%;
    border-top: 0;
    border-style: solid;
}

.ellipse {
    position: absolute;
    height: 15%;
    width: 45%;
    top: 48%;
    left: 28%;
}

.ellipse-text {
    fill: black;
    font-size: 100px;
    font-family: 'Hacked';
    text-anchor: middle;
    dominant-baseline: middle;
}

.roadmap-text-container {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 44%;
    left: 6%;
    top: 1%;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

.roadmap-text-container h2 {
    height: 15%;
    width: 100%;
    margin: 0;
    padding-top: 1%;
    font-family: 'Pixel Operator';
    font-size: 1.8vw;
}

.roadmap-text-container p {
    height: 80%;
    width: 90%;
    margin: 0;
    margin-top: 3%;
    font-family: 'Pixel Operator';
    font-size: 0.96vw;
}

.reversed {
    transform: rotate(180deg);
}